// 首頁：小廣告輪播（原設計稿標題：「文化藝術」）
.banners{
  margin: 0 auto; padding: 50px 0;
  .bannerloop{
    margin: 0 auto;
    .slick-list{ padding: 15px 12px 30px; }

    .slick-slide{
      margin: 0 12px; overflow: hidden;outline: none;
      background-color: #fff; box-shadow: rgba(0,0,0,.15) 0 5px 15px;
      transition: .3s;
      img{
        width: 100%; height: calc((50vw - 36px)*5/13); object-fit: fill; 
        transition: .3s;
      }
      p{
        margin: 0; padding: .7em .6em .6em; line-height: 1.1;
        white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      }
    }

    a{
      display: block; position: relative;
      color: $fontColor; text-decoration: none; outline: none;
      &::before{
        content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
      }
      &:hover, &:focus{
        img{transform: scale(1.06);}
      }
      &:focus{
        &::before{
          z-index: 9;
          box-shadow: $primaryColor 0 0 0 2px inset;
        }
      }
    }

    .slick-arrow{
      margin-top: -8px;
      &.slick-prev { left: 0;}
      &.slick-next { right: 0;}
    }
  }

  @media screen and (min-width: calc($wwMedium + 60px)){
    .bannerloop{
      .slick-slide{
        img{
          height: calc((500vw - 480px)/39)
        }
      }
    }

  }

  @media screen and (min-width: $wwNormal){
    padding-bottom: 90px;
    &::before{
      content: ''; position: absolute; bottom: 0; right: 0; 
      left: calc(9vw + 200px); height: 240px;
      background: url(../images/banners_bg.jpg) no-repeat left bottom;
      background-size: cover;
    }

    .blockHeader, .subheader{ z-index: 9; position: relative;}

    .bannerloop {
      position: relative;
      width:calc(#{$normalWidth} + 48px);
  
      .slick-slide {
        box-shadow: rgba(0, 0, 0, .2) 0 6px 24px -8px;
        img {
          height: calc((#{$normalWidth}*5 - 240px)/39);
        }

        &[aria-hidden="true"]{ box-shadow: none;}
      }
      .slick-arrow{
        &.slick-prev { left: -48px;}
        &.slick-next { right: -48px;}
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    &::before{ left: calc(50vw - #{$wwMaximum}*.41 + 200px);}

    .bannerloop {
      width: calc(#{$wwMaximum}*.82 + 48px);

      .slick-slide {
        img{
          height: calc((#{$wwMaximum}*4.1 - 240px)/39);
        }
      }
    }
  }
   
}



// 首頁：相簿 slide（2023 一月新增）
.albumsFlow{
  padding: 50px 0;
  .flow{
    width: 81vw; margin: 0 auto;padding: 0 0 24px;
  }
  .slick-list{
    overflow: visible; height: 54vw;
  }
  .slick-slide{
    position: relative;
    margin: 20px 6px 0; width: 66vw;
    transition: .6s;
    a, img{ display: block;}
    a{
      &:hover{
        p{
          background-image: linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
        }
      }
      &:focus{
        box-shadow: $secondaryColor 0 0 0 2px;
      }
    }
    img{
      width: 100%; height: 44vw; object-fit: cover;
      transition: .6s;
    }

    p{
      position: absolute; left: 0;bottom: 0; right: 0;
      font-size: 1.2rem; line-height: 1.5; padding: 50px 20px 15px;margin: 0;
      color: $fontInvert;
      background-image: linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,1) 130%);
      white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
      transition: .3s;
    }

    &.slick-active{
      width: 81vw; margin-top: 0; z-index: 99;
      box-shadow: rgba(0, 0, 0, .25) 0 0 30px;
      img{height: 54vw;}
      p{ font-size: 1.6rem;}
    }
  }
  .slick-arrow{
    margin-top: -24px;
    &.slick-prev { left: -24px;}
    &.slick-next { right: -24px;}
  }

  @media screen and (min-width: $wwMedium){
    .flow{ width: 60vw;}
    .slick-list{ height: 40vw;}
    .slick-slide{
      width: 48vw;
      img{ height: 32vw;}
      &.slick-active{
        width: 60vw;
        img{ height: 40vw;}
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    .slick-slide{
      margin-top: 30px;
      p{ font-size: 1.5;}
      &.slick-active{
        p{ font-size: 1.8rem;}
      }
    }
  }
  @media screen and (min-width: $wwMaximum){
    .flow{ width: 720px; }
    .slick-list{ height: 480px; }
    .slick-slide{
      width: 576px;
      img{height: 384px;}
      &.slick-active{
        width: 720px;
        img{height: 480px;}
      }
    }

  }


}


// 首頁：2:1 圖 slide（2023 一月新增）
.banner2x1{
  padding: 50px 0;
  .flow{
    margin: 0 auto; padding: 0 0 24px;
  }
  .slick-slide{
    margin: 0;
    img{
      display: block; width: 100%; height: 50vw; object-fit: cover;
    }
    a{
      display: block;
      &:hover{
        box-shadow: $secondaryColor 0 0 0 1px;
      }
      &:focus{
        box-shadow: $secondaryColor 0 0 0 2px;
      }
    }
  }

  .slick-arrow{
    margin-top: -24px;
  }

  @media screen and (min-width: $wwMedium){
    .flow{
      width: 72vw;
    }
    .slick-list{
      overflow: visible;
    }
    .slick-slide{
      margin: 0 6px; padding: 0;
      img{
        height: calc(36vw - 6px);
      }
    }
    .slick-arrow{
      &.slick-prev { left: -14vw;}
      &.slick-next { right: -14vw;}
    }

  }

  @media screen and (min-width: $wwNormal){
    .flow{
      width: 50vw; 
    }
    .slick-slide{
      img{
        height: calc(25vw - 6px);
      }
    }
    .slick-arrow{
      &.slick-prev { left: -25vw;}
      &.slick-next { right: -25vw;}
    }
  }

}