// 資料大類
.category{
  position:relative;margin-bottom: 12px;
  background: darken($primaryColor, 7%);color: $fontInvert;
  overflow:hidden;z-index:700;
  a{text-decoration: none;color: $fontInvert;}

  ul{ display: none;list-style: none;margin:0; padding:2px 6px; line-height: 1.1;}
  li{ margin:4px 0; padding: 0;
    a{
      display:block;padding:0 .6em;border: none; border-radius: 4px;
      height: 2.3em;line-height: 2.3;
      &:hover, &:focus{box-shadow: $white 0 0 0 1px;}
    }
    &:last-child{margin-right: 48px;}
  }

  .cateNow{
    display: block;height: 2.8em; line-height: 2.7; margin: 0 12px;
    &::before{content:'資料大類：';display: inline-block;font-size:.9em;margin-right:.2em; color: rgba(255,255,255,.75)}
  }

  .cateCtrl {
    position:absolute;right:4px;bottom:0;width: 44px;height: 44px; margin: 0; padding: 0; 
    background: none; box-shadow: none; transition: .2s;
    &:hover{ background-color: rgba(0,0,0,.3)}
    &::before{
      content: '';position: absolute; top: 11px; left: 16px;
      width:12px;height:12px;border: 2px solid $white;border-left: none;border-top: none;transform:rotate(45deg); transition: .4s;
    }
    &.close::before{transform:rotate(225deg);top: 19px;}
  }

  @media screen and (min-width: $wwMedium){
    width: calc(94vw + 6px); margin: 10px auto 0; padding: 0; 
    background: none;z-index: auto;

    .cateCtrl, .cateNow{display:none;}

    ul{ display: block;padding:3px 0;overflow: hidden;}
    li{
      margin: 3px;float: left;
      a{
        padding:0 .7em;height: 2.3em;line-height: 2.4em;
        background:none;color:#000;text-decoration:none; border-radius: 0;outline:none;
        box-shadow: $borderColorLight 0 0 0 1px;
        transition: .2s;
        &:hover{ box-shadow: $primaryColor 0 0 0 1px;}
        &:focus{ box-shadow: $primaryColor 0 0 0 2px;}

      }
      &.here a{color:#fff; background-color: $primaryColor;box-shadow: $primaryColor 0 0 0 1px;
        &:hover, &:focus{ box-shadow:#fff 0 0 0 1px, $primaryColor 0 0 0 3px;}
      }
    }
  }
  
  @media screen and (min-width: $wwNormal){
    width:96%;
  }

  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*.96;
  }

}