.cpArticle {
  @extend %innerWidth;
  padding-top: 20px;
  line-height:1.7;font-size:1.15em;
  
  p{line-height:inherit;margin:0 0 1em;padding:0;}
  a{
    display:inline-block;
    &:hover{ text-decoration: none;}
    &:focus{box-shadow:$linkColor 0 0 0 2px;outline:none;text-decoration: none;}
  }

  figure{
    width: 100%;;margin:0 auto 10px;padding:9px;
    border:1px solid $borderColorLight;box-shadow:rgba(0,0,0,.3) 0 0 5px;
    &>a{ display: block;}
    figcaption{
      line-height:1.5;margin:9px 0 0;display:block;font-size:.94em;
      &:empty{display:none;}
    }
    img{display:block;width:100%;height:auto;margin:0 auto;}
  }

  // table
  table{
    clear: both; border-collapse: collapse; border: 2px solid $borderColor;
    caption{font-weight:bold;text-align:left;font-size:1em;padding:.4em .5em;text-align:left;}
    th,
    td{vertical-align:top;padding:.4em .5em;border:1px solid $borderColorLight;}
    th{font-weight:normal; background-color: $grayLight;}
    th[scope="row"]{text-align:right;vertical-align:top;width:15%;}
    th[scope="col"]{text-align:center;vertical-align:middle;}
  
    &.noBorder{
      width:auto;margin:2em;border:none;
      th,
      td{border:none;padding:0}
    }
  
    .list{
      th, td{text-align:left !important;}
    }
  
  }

  /*ul , ol*/
  &>ul{list-style:disc;}
  &>ol{list-style:decimal;}
  &>ul, &>ol{margin:2em 1em;padding:0 0 0 2em;
    &>li, &>li{margin:0 0 1.5em;
      a:hover{text-decoration:none;color:$fontColor;}
      a:focus{outline:1px solid $linkColor;text-decoration:none;}
    }
    ul{margin-left:0;margin-right:0;list-style:circle;}
    ol{margin-left:0;margin-right:0;list-style:upper-latin;}
  }

  // 以 iframe 嵌入地圖
  .gmap{margin:2em 0;
    iframe{display:block;padding:0;margin:0 auto;width:100%;height:600px;border:none;}
  }

  @media screen and (min-width: $wwMedium){
    &::after{ content: ''; display: block; clear: both;}
    figure{
      float:left;width:46vw; max-width: 450px; margin:0 20px 10px 0;padding:9px;
    }
  }
  
  @media screen and (min-width: $wwNormal){
  }
}


// pubInfo //////////////////////////////
// 發布日期、發布單位、點閱次數 等資訊
.pubInfo {
  @extend %innerWidth;
  margin: 30px auto;padding: 1.2em 0 .6em;
  border: 1px solid $borderColor; color: $fontColorLight;
  clear: both;
  ul {margin: 0 ;padding: 0;line-height: 1.1;}
  li {
    display: inline-block;vertical-align: top;
    margin: 0 .8em .6em; padding: 0;
    em, time {font-weight: normal;color: $fontColorDark;}
  }
  @media screen and (min-width: $wwNormal){
    &:last-child{ margin-bottom: 60px;}
  }
}



/* 燈箱內的大圖 */
.bigPhotos .slideArea{
  position: relative; width: 100%;height: 100%;
  .images{
    margin: 0; padding: 0; list-style: none;
    &>li{
      opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%;transition: .4s; margin: 0; padding: 0; z-index: 0;
      img{ display: block;width: 100%; height: 100%; object-fit: contain;}
      p{ background-image:linear-gradient(#0000 0%, #000b 2.9em, #000d 90%) ; color: #fff; position: absolute;bottom: 0;left: 0;right: 0; padding: 3em 1em .8em; margin: 0; text-align: center;}
      &.show{ opacity: 1; z-index: 1;}
    }
  }
  .imgCount{ position: absolute; left: 50%; top: 8px; z-index: 9; transform: translateX(-50%);}
}

@media screen and (max-width:600px){
	.bigPhotos, .coverAll{display: none;}
}


// 附件格式與檔案大小 //////////////////////////////
.fileType, .fileSize {
  display: inline-block; vertical-align: middle;text-align: center;
  margin: 0 .2em;padding: 0 .4em;min-width: 2.4em;
  height: 1.7em;line-height: 1.7em;font-size: 1em;
  border-radius: 4px;
}
.fileSize {
  color: $fontColorLight;border: 1px solid $borderColorLight;
}
.fileType {
  font-family: monospace, "Courier New", Courier, monospace;
  font-weight: normal; color: #fff;
  &.zip{background:#333;}
  &.pdf{background:#c00;}
  &.doc, &.docx, &.odt{background:#0d67bb;}
  &.xls, &.xlsx, &.csv {background:#297c17;}
  &.ppt, &.pptx, &.odp{background:#ec7500;}
  &.jpg, &.JPEG, &.jpe{background:#6e8e05;}
  &.mp3{background:#6747b1;}
  &.mov{background:#238098;}
  &.txt{background:#607584;}
  &.other{background:#ddd;color:#444;}
}


// 影片播放內容頁 ////////////////////////////////////////////////////////////
.videoPlay{
  @extend %innerWidth; margin: 20px auto;
  line-height: 1.8;
  iframe{
    width: 100%; height: 52.875vw; margin: 0 auto 15px; padding: 0;
  }
  p{margin: 0 0 1.6em;}

  @media screen and (min-width: $wwMedium){
    overflow: hidden;
    iframe{ 
      float: left;  margin: 0 20px 10px 0;
      width: 60%; height: 31.725vw;
    }
  }

  @media screen and (min-width: $wwNormal){
    margin: 30px auto;
    iframe{
      width: 57.6vw; height: 32.4vw; 
      max-width: 640px; max-height: 360px;}
  }
}
///////////////////////////////////////////////////////////////////////////////

