.cpArticle {
  @extend %innerWidth;
  padding-top: 20px;
  line-height:1.7;font-size:1.15em;
  
  p{line-height:inherit;margin:0 0 1em;padding:0;}
  a{
    display:inline-block;
    &:hover{ text-decoration: none;}
    &:focus{box-shadow:$linkColor 0 0 0 2px;outline:none;text-decoration: none;}
  }

  figure{
    width: 100%;;margin:0 auto 10px;padding:9px;
    border:1px solid $borderColorLight;box-shadow:rgba(0,0,0,.3) 0 0 5px;
    &>a{ display: block;}
    figcaption{
      line-height:1.5;margin:9px 0 0;display:block;font-size:.94em;
      &:empty{display:none;}
    }
    img{display:block;width:100%;height:auto;margin:0 auto;}
  }

  // table
  table{
    clear: both;
    width:100%;margin:.2em auto;border-collapse:collapse;line-height:1.8;border:2px solid $borderColor;color:#111;
    caption{font-weight:bold;text-align:left;font-size:1em;padding:.4em .5em;text-align:left;}
    th,
    td{vertical-align:top;padding:.4em .5em;border:1px solid $borderColorLight;}
    th{font-weight:normal; background-color: $grayLight;}
    th[scope="row"]{text-align:right;vertical-align:top;width:15%;}
    th[scope="col"]{text-align:center;vertical-align:middle;}
  
    &.noBorder{
      width:auto;margin:2em;border:none;
      th,
      td{border:none;padding:0}
    }
  
    .list{
      th, td{text-align:left !important;}
    }
  
  }

  /*ul , ol*/
  &>ul{list-style:disc;}
  &>ol{list-style:decimal;}
  &>ul, &>ol{margin:2em 1em;padding:0 0 0 2em;
    &>li, &>li{margin:0 0 1.5em;
      a:hover{text-decoration:none;color:$fontColor;}
      a:focus{outline:1px solid $linkColor;text-decoration:none;}
    }
    ul{margin-left:0;margin-right:0;list-style:circle;}
    ol{margin-left:0;margin-right:0;list-style:upper-latin;}
  }
  .gmap{margin:2em 0;
    iframe{display:block;padding:0;margin:0 auto;width:100%;height:600px;border:none;}
  }

  @media screen and (min-width: $wwMedium){
    &::after{ content: ''; display: block; clear: both;}
    figure{
      float:left;width:46vw; max-width: 450px; margin:0 20px 10px 0;padding:9px;
    }
  }
  
  @media screen and (min-width: $wwNormal){
  }
}


// pubInfo //////////////////////////////
.pubInfo {
  @extend %innerWidth;
  margin: 30px auto;padding: 1.2em 0 .6em 1.1em;
  border: 1px solid $borderColor; color: $fontColorLight;
  clear: both;
  ul {margin: 0 .5em;padding: 0;line-height: 1.1;}
  li {
    display: inline-block;vertical-align: top;
    margin: 0 .8em .6em; padding: 0;
    em, time {font-weight: normal;color: $fontColorDark;}
  }
}












.videoPlay{min-height:32em;}
.videoPlay object{float:left;margin:0 1.5em 2em 0;height:auto;}
.videoPlay embed{display:block;max-width:100%;}
.videoPlay object > a{display:block;font-size:1.3em;margin:.6em 0;}




// 附件格式
.fileType, .fileSize {
  display: inline-block; vertical-align: middle;text-align: center;
  margin: 0 .2em;padding: 0 .4em;min-width: 2.4em;
  height: 1.7em;line-height: 1.7em;font-size: 1em;
  border-radius: 4px;
}
.fileSize {
  color: $fontColorLight;border: 1px solid $borderColorLight;
}
.fileType {
  font-family: monospace, "Courier New", Courier, monospace;
  font-weight: normal; color: #fff;
  &.zip{background:#333;}
  &.pdf{background:#c00;}
  &.doc, &.docx, &.odt{background:#0d67bb;}
  &.xls, &.xlsx, &.csv {background:#297c17;}
  &.ppt, &.pptx, &.odp{background:#ec7500;}
  &.jpg, &.JPEG, &.jpe{background:#6e8e05;}
  &.mp3{background:#6747b1;}
  &.mov{background:#238098;}
  &.txt{background:#607584;}
  &.other{background:#ddd;color:#444;}
}



a.mapMarker {display:inline-block;padding:0 .5em 0 2.2em;background:#fff url(../images/bubble.png) no-repeat .3em center;background-size:1.6em auto;margin-left:1em;min-height:2.4em;line-height:2.4em;border-radius:6px;border:1px solid #65adbb;text-decoration:none;}

a.mapMarker:hover,
a.mapMarker:focus{border-color:#186c7d;box-shadow:#186c7d 0 0 3px;outline:none;}








.videoPlay{width:96%;margin:0 auto;}

@media screen and (max-width:1000px) {
	.LatestIssue .contents{-moz-column-count:1;-moz-column-gap:1em;-webkit-column-count:1;-webkit-column-gap:1em;column-count:1;column-gap:1em;}


	.seeAlso ul li a{display:block;padding:.8em 0 .2em;border-bottom:1px dotted $borderColor;}
	.seeAlso{margin:30px auto;}

}
@media screen and (max-width:800px) {
	// .cpArticle{width:92vw;margin:0 auto;}
	
	.videoPlay{padding:15px;}
	.videoPlay object{display:block;max-width:100%;float:none;margin:0 auto 2em;border-bottom:3px solid #bbb;}

	/* 2022
		.pubInfo ul{font-size:.67em;}
		.pubInfo li em{font-size:1.25em;} 
	*/


}
@media screen and (max-width:600px) {
	.cpArticle figure{float:none;width:100%;margin:0 auto 2em;box-sizing:border-box;}
	.cpArticle figcaption{font-size:.88em;}
	.cpArticle figure img{width:100%;}
	.cpArticle th[scope="row"]{width:auto;}
	.cpArticle ul, .cpArticle ol{clear:both;}
	.cpArticle li{word-break:break-all;}

	.cpArticle .list  table{border:none;}
	.cpArticle .list td{border:none;border-bottom:1px dotted #ccc;}
	/* 2022
		.pubInfo ul{font-size:.67em;}
		.pubInfo li{white-space:normal}
		.pubInfo li em{font-size:1.25em;} 
	*/
}



// .extraBtn a:hover{background:#639100;color:#fff;}
// .extraBtn a:focus{background:#639100;color:#fff;}
// .note .extraBtn a{background-color:#f80;color:#fff;}
// .note .extraBtn a:hover{background-color:#e60;}
// .note .extraBtn a:focus{background-color:#e60;}
// .note a{word-break:break-all;}

/* 意見信箱進度查詢*/
// .note{margin:0 0 2.5em;padding:2.5em 3% 2.5em;border-width:1px;line-height:1.8;background:#fe8;}
// .note h2{font-size:1.2em;margin:0 0 1em;}
// .note li{margin-bottom:1.2em;}
// .note a{color:#f50;text-decoration:underline;}


