// photoSlide 相簿內容頁
.photoSlide{ 
  position: relative; 
 	padding: 0; margin: 0 auto;

  .slider-for{ 
    .slick-slide{ 
			position: relative; cursor: pointer;
			a{ 
				display: block; color: $fontColor;
				&::before{
					opacity: 0;
					content: ''; position: absolute; left: 0;right: 0;top: 0; bottom: 0;
					box-shadow: $fontColor 0 0 0 3px inset;
					transition: .25s;

				}
				&:focus{
					&::before{ opacity: 1; z-index: 9;}
				}
			}

      img{ 
        display: block; margin: 0 auto;
        width: 100%; height: 100vw;max-height: 640px; object-fit: contain;
      }

      .caption{
        position: absolute; bottom: 0; left: 0;right: 0;text-align: center;
        padding:.6em 16px .4em; margin: 0; line-height: 1.6; max-height: 4em;overflow: hidden;
        display: -webkit-inline-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;
        background: rgba(255,255,255,.8);
        transition: .6s;
      }
      &:hover{
        .caption{ transform: translateY(100%);}
      }

      &::before{
        content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
        box-shadow: $fontColor 0 0 0 2px inset; z-index: -1;  display: none;
      }
      &:focus{
        &::before{display: block;z-index: 9;}
      }
    }

  }
  
  .slider-nav{ 
    margin: 0 auto; padding: 16px 0;
		background-color: $grayDark;
    box-shadow: rgba(0,0,0,.5) 0 0 15px inset;
    &::before, &::after{
      content: ''; position: absolute; top: 0; bottom: 0; width: 80px;
      z-index: 2;
    }
    &::before{left: 0;  background-image: linear-gradient(to right, transparentize($grayDark, .1) 20%, transparentize($grayDark, 1) 100%);}
    &::after{right: 0;  background-image: linear-gradient(to left, transparentize($grayDark, .1) 20%, transparentize($grayDark, 1) 100%);}
    .slick-slide{
      cursor: pointer;display: block;
      height: 128px;padding: 0; margin:5px 4px;
      box-shadow: $borderColorLight 0 0 0 1px;
      img{ display: block; height: 100%; width: auto; object-fit: contain;}

      &.slick-current{ box-shadow:$black 0 0 0 1px, $white 0 0 0 5px; }
    }
  }


  // 相片張數
  .photoCount{
    position: absolute; right: 12px; top: 12px; z-index: 9;
  }

	.description{line-height: 1.8; padding: 1em 3vw;}

  @media screen and (min-width: $wwNormal){
		width: 96%;margin-bottom: 50px;
		// box-shadow: $borderColor 0 0 0 1px;

    .slider-for{ 
      margin-bottom: 10px;
      .slick-slide{
        img{ height: 640px;}
        .caption{ position: static; width: 100%;}
        &:hover .caption{transform: none;}
      }
    }

		.description{ padding-left: 0; padding-right: 0;}
  }


  @media screen and (min-width: $wwMaximum){
		width: $wwMaximum*.96;
  }
}



// 照片張數 .photoCount
.photoCount{ 
	line-height: 1.35; height: 1.6em; padding: 0 .6em; border-radius: 1em;
	background: rgba(230, 230, 230, .8); color: $fontColor;
  span{ display: inline-block; vertical-align: baseline;}
  .total{ 
    &::before{content: '/'; margin-right: 4px; display: inline-block;}
  }
  .current{ font-size: 1.25em; margin-right: 4px;}
}








// 燈箱中的大圖瀏覽
.albumPhoto{
  .photo{ 
		position: relative; height: 100%;
    img{ display: block; width: 100%; height: 100%; object-fit: contain;}
    .caption{
      position: absolute; bottom: 0;left: 0; right: 0;
      padding:80px 15px 10px; margin: 0; line-height: 1.5;
      color: $fontInvert; text-align: left;
      background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 50px, rgba(0,0,0,1) 90%);
      transition: .6s;

      &:hover{
        .caption{ transform: translateY(100%);}
      }
    }
  }
}

