// 活動行事曆列表 /////////////////////////
.list.event{
  margin-bottom: 40px;
  td[data-title="活動主題"] a{
   display: inline-block;margin: 0 auto;text-align: left;
  }
  @media screen and (min-width: $wwMedium){
    td[data-title="活動主題"] a{ display: block;}
    td[data-title="活動類型"]{ text-align: left;}
  }
}

.eventType{
  display: inline-block !important; position: relative;
  font-size: 1rem;
  padding: 0 .6em 0 1.2em;line-height: 1.8;height: 1.9em;
  border-radius: 2em 12px 12px 2em;border: 2px solid $gray ;
  background-color: $white;color: $fontColor;
  &::before{
    content: ''; position: absolute; left: .34em; top: calc(50% - 5px);
    width: 10px; height: 10px; border-radius: 50%;
    background-color: $gray;
  }
  
  &.t01{ border-color:#84b401; &::before{background-color: #84b401;}}
  &.t02{ border-color:#dc4ccc; &::before{background-color: #dc4ccc;}}
  &.t03{ border-color:#f46500; &::before{background-color: #f46500;}}
  &.t04{ border-color:#656f71; &::before{background-color: #656f71;}}
  &.t05{ border-color:#0cb9ec; &::before{background-color: #0cb9ec;}}
  // 預留活動類別
  &.t06{ border-color:#cf1b0e; &::before{background-color: #cf1b0e;}}
  &.t07{ border-color:#7047b7; &::before{background-color: #7047b7;}}
  &.t08{ border-color:#049696; &::before{background-color: #049696;}}
  &.t09{ border-color:#1a6bbd; &::before{background-color: #1a6bbd;}}
  &.t10{ border-color:#ee9900; &::before{background-color: #ee9900;}}
}

///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////

// 單日瀏覽 /////////////////////////
.oneDay{
  display: flex; margin: 4px;

  .label{ display: none;}

  button{
    flex: 1 1 auto; margin: 3px 2px; padding:5px 3px; height: auto;
    font-size: .86rem; line-height: 1.3;text-align: center; overflow: hidden;
    background-color: $grayLight; color: $fontColor;
    &:hover, &:focus{ box-shadow: $btnBg1 0 0 0 1px;}
    &.current{
     box-shadow: $btnBg1 0 0 0 1px;
     &:hover, &:focus{box-shadow: $btnBg1 0 0 0 2px;}
    }
    &.today{
      position: relative; padding-bottom: 1.8em;
      &::before{
        position: absolute; left: 0; right: 0; bottom: 0;
        height: 1.7em; line-height: 1.8;
        content: '今天'; font-size: .9em; 
        background-color: $btnBg1; color: $fontInvert;
      }
    }
    .day{
      display: block;text-align: center;
      &::before{content: '(';}
      &::after{content: ')';}
    }
    &.moreDayPrev , &.moreDayNext{
      flex-basis: 36px; width: 36px;  max-width: 48px;
      box-shadow: none;overflow: hidden;text-indent: -10em; 
      background-color: $btnBg1;
      position: relative;
      &::before{
        content: ''; position: absolute; top: calc(50% - 5px);
        width: 9px; height: 9px;border: 2px solid $white;
        transform: rotate(45deg);
      }

      &:hover, &:focus{background-color: $btnBg2;}
      &:focus{ box-shadow: $btnBg2 0 0 0 2px;}
    }
    &.moreDayPrev{
      &::before{border-right: none; border-top: none; left: calc(50% - 2px);}
    }
    &.moreDayNext{
      &::before{border-left: none; border-bottom: none;left: calc(50% - 7px);}
    }
  }

  @media screen and (min-width: $wwSlim){
    button{
      &.today{
        padding-bottom: 5px; padding-left: 2.8em;
        &::before{
          top: 0; right: auto; height: auto; width: 2.6em; line-height: 4em;
        }
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    padding-left: 8px; padding-right: 8px;
    button{font-size: .92rem;}
    .label{display: block; margin-right: 8px; line-height: 3.8; white-space: nowrap; font-size: .92rem;}
  }
  
  @media screen and (min-width: $wwNormal){
    padding-left: 0; padding-right: 0;
    .label{line-height: calc(2.8em + 8px); font-size: 1rem;}
    button{
      font-size: 1rem; height: 2.8em;
      .day{ display: inline-block; margin-left: .5em;}
      &.today::before{ line-height: calc(2.8em + 5px);}
    }
  }
  
}


// 活動類型、地區過濾，關鍵字查詢 /////////////////////////
.moreFilter{
  display: flex; flex-flow: row wrap; justify-content: space-between;
  width: 100%; margin: 4px auto; padding: 8px;
  &>*{margin-bottom: 6px;}
  .filters{
    flex: 0 1 100%;
    display: flex; flex-flow: row wrap;
    select, input{margin: 4px 2px; min-width: 7em;}
    select{ flex: 1 1 20%; }
    input{ flex: 1 1 40%;}
  }
  .timeSpan{
    flex: 1 1 65%; width:auto; min-width: 22em;
    display: flex; align-items: center;
    label, input{margin:4px 2px; }
    label{ flex: 0 0 auto; white-space: nowrap;}
    input{ flex: 0 1 auto; min-width: 8em;}
  }
  .btnDv{
    flex: 0 1 auto; width: auto; padding-left: 4px; padding-right: 4px;
    white-space: nowrap;
    button, input{ min-width: 2em ; margin: 4px 2px;}
  }

  @media screen and (min-width: $wwMedium){
    padding: 0 3vw 10px;
    .btnDv{flex: 0 0 auto;}
  }
  
  @media screen and (min-width: $wwNormal){
    flex-wrap: nowrap; padding: 0; width: auto; align-items: center;
    &>*{ margin-bottom: 0; margin-left: 8px;}
    .filters{
      flex-basis: auto;
      flex-wrap: nowrap; margin-left: 0;
      select, input{ flex: 1 1 6em; width: auto; min-width: auto;}
    }
    .timeSpan{flex-basis: auto; margin-left: 12px; margin-right: 12px;}
  }


}


// 活動行事曆瀏覽、查詢區
.eventSearch{
  // border: 1px solid red;
  margin: 5px auto;
  .drawer{
    background-color: $grayLight; box-shadow: rgba(0,0,0,.3) 0 0 8px inset;
    .header{ font-size: 1.2rem; height: 2.5em; line-height: 2.5; margin:0 2vw;}
    .drawerHandle{ font-size: .92rem;right: 2vw; top: 4px;
      &:hover, &:focus{ width: calc(4em + 60px);}
    }
    .tray{ display: none;}
  }

  @media screen and (min-width: $wwMedium){
    width: 94%;
    .drawer{ border-radius: 8px;}
  }

  @media screen and (min-width: $wwNormal){
    width: 96%; margin: 0 auto 20px;
    .drawer{
      background: none; box-shadow: none;
      .header, .drawerHandle{ display: none;}
      .tray{ display: block !important;}
    }
  }
  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*.96;
  }

}



