// 燈箱（.lightbox）//////////////////////////////
.lightbox{ 
  display: none;
  position:fixed;top:5vw;left:0;
  width:100vw; height: calc(100vh - 10vw); z-index:998;
  padding:0; margin:0 auto; overflow: auto;overflow-y: auto;
  background:$black;color: $white; box-shadow:rgba(0,0,0,.6) 0 0 28px;

  .closeThis{
    position: fixed; right:0; top: 5vw; z-index:999;
  }

  .skip{
    position: absolute; right: 0; bottom: 0;
    width: 1px; height: 1px; padding: 0;
    background-color: transparent; border: none; box-shadow: none;
  }
 
  @media screen and (min-width:$wwMedium){
    width:96vw;left: 2vw; height: calc(100vh - 10vw); 
    .closeThis{position: absolute; right: 0; top: 0;}
  }

  @media screen and (min-width: $wwNormal){
    top: 70px; height: calc(100vh - 100px);
  }
  
  @media screen and (min-width: 1600px ){
    width: 1536px; left: calc(50% - 768px);
  }

}


// 燈箱遮罩 //////////////////////////////
.coverAll{ 
  display: none; 
  z-index: 995;
  position: fixed; left: 0;right: 0;top: 0;bottom: 0;
  background: rgba(200,200,200,.8);
}


// 彈出訊息 //////////////////////////////
.popMessage{
  width: 90%; max-width: 800px; margin: 0 auto; padding: 2em 0;
  line-height: 1.8;
  color: $fontInvert;
  a{
    margin: 0 .3em;
    text-decoration: none; color: $hiLight;
    box-shadow: $hiLight 0 2px 0 -1px ;
    &:hover, &:focus{
      color: $hiLight; box-shadow: $hiLight 0 0 0 1px;
    }
  }
  p{
    margin: 1em 0;
  }
}
