// 燈箱（.lightbox）//////////////////////////////
.lightbox{ 
  display: none;
  position:fixed;top:5vw;left:5vw;
  width:90vw; height: calc(100vh - 10vw); z-index:998;
  padding:50px 0 0; margin:0 auto; overflow: auto;overflow-y: auto;
  background:#000; box-shadow:rgba(0,0,0,.6) 0 0 28px;
  color: #fff;

  .closeThis{
    position: fixed; right:5vw; top: 5vw; z-index:999;
  }


  .skip{
    position: absolute; right: 0; bottom: 0;
    width: 1px; height: 1px; padding: 0;
    text-indent: -20em; overflow: hidden;
    background-color: transparent; border: none; box-shadow: none;
  }
 
  @media screen and (min-width:$wwNormal){
    height: auto; max-height: calc(100vh - #{$wwNormal}*.06);
    top: 50%; transform: translateY(-50%);

    .closeThis{position: absolute; right: 0; top: 0;}
  }
  
  @media screen and (min-width: $wwMaximum ){
    width: $wwMaximum*.9; left:calc(50vw - #{$wwMaximum}*.45);

  }

}


// 燈箱遮罩 //////////////////////////////
.coverAll{ 
  display: none; 
  z-index: 995;
  position: fixed; left: 0;right: 0;top: 0;bottom: 0;
  background: rgba(160,160,160,.65);
}


// 彈出訊息 //////////////////////////////
.popMessage{
  width: 90%; max-width: 800px; margin: 0 auto; padding: 2em 0;
  line-height: 1.8;
  color: $fontInvert;
  a{
    margin: 0 .3em;
    text-decoration: none; color: $hiLight;
    box-shadow: $hiLight 0 2px 0 -1px ;
    &:hover, &:focus{
      color: $hiLight; box-shadow: $hiLight 0 0 0 1px;
    }
  }
  p{
    margin: 1em 0;
  }
}
