// 機關通訊錄

// 圖示
.icon_detail, .icon_mail{
  display: inline-block;
  a{
    display: block;width:38px;height:30px;
    font-size:0;border-radius:6px;outline:none;
    background-repeat: no-repeat; background-position: center center;
    background-color: transparent; background-size:30px auto;
    &:hover, &:focus{ box-shadow: $linkColor 0 0 0 2px;}
  }
}
.icon_mail a{ background-image:url(../images/icon_mail.png);}
.icon_detail a{ background-image:url(../images/icon_detail.png);background-size:36px auto; }


.list.org{
  td{
    border-top:1px solid $borderColor;border-bottom:none;padding:.45em 8px .4em;
    &:first-child{
      font-size:1.2em;text-align:left;width:33%;
      &>a{
        display: inline-block;border-radius: 6px; background-color: lighten($primaryColor, 60%);
        &:hover{ background-color: $primaryColor ; color: $fontInvert;}
      }
    }
  }
  .org2nd td{
    border-top:1px dotted $borderColor;
    &:first-child{padding-left:2.5em;font-size:1em;
      &>a{border-radius:2em;padding:.3em 1em .2em;}
    }
  }

  a{display:inline-block;padding:.4em 1em .35em;}

  tr:hover {
    td a:hover,
    td a:focus{text-decoration:none;outline:none;}
  }

  @media screen and (max-width:800px){
    tr{overflow:hidden;}
    td,
    .org2nd td,
    tr:last-child td{display:inline-block;border:none;line-height: 48px;}
    .org2nd td:first-child{padding-left:8px;font-size:1em;}
    td{
      &:first-child{text-align:center;line-height: 1.8em;}
      &:last-child{float:right;}
      &::before{display:none;}
    }
    td:first-child,
    .org2nd td:first-child,
    tr:last-child td:first-child{display:block;width:100%;border-bottom:1px solid $borderColor;padding-left:0;padding-right:0;}
  
  }
  
}
