$alternate : #f8fafb; // 交錯橫列的底色
$rowHover: lighten($hiLight, 12%); // hover 橫列換色
///////////////////////////////////////////////////////////////////////////
// .list, ul 項目條列 /////////////////////////////////////////////////////
.list{
  @extend %innerWidth;
  clear:both;margin:15px auto;
  border:2px solid $borderColor;border-left:none;border-right:none;
  .list {margin: 0;}

  ul{list-style:none;margin:0;padding:0;font-size:1.2em;line-height:1.8;}
  li{margin:0;padding:0;border-bottom:1px solid $borderColorLight;text-align:justify;position:relative;
    &:nth-child(even) {background:$alternate;}
    &:last-child{border:none;}
    &:hover{ background-color: $rowHover;}
    &>a{
      display:block;padding:.7em 8em .7em 3.5em;overflow:hidden;
      text-decoration: none;outline:none; 
      color: $fontColor;
      &:hover{text-decoration:underline;}
      &:focus{
        box-shadow: $primaryColor 0 0 0 1px inset, $primaryColor 0 0 0 1px;
        text-decoration: none;
      }
    }
    time,
    .date{ margin:0 0 0 .6em;position:absolute; top:.7em; right:1em;}
    .numb{display:inline-block;font-family:Arial, Helvetica, sans-serif;min-width:2.4em;text-align:right;margin:0 .4em 0 -2.8em;
      &::after{content:"."}
    }
  }


  @media screen and (max-width:$wwMedium){
    border:none;
    li{
      &>a{padding-left:2.4em; padding-right:1em;}
      .numb{min-width:3em;margin-left:-3.4em;}
      .date,
      time{ margin-left:1em;position: static; display:inline-block;}
    }
  }

}


///////////////////////////////////////////////////////////////////////////
// list table 表格條列 ////////////////////////////////////////////////////
.list{
  table {padding:0;margin:0;width:100%;border-collapse:collapse;line-height:150%;}
  tr{
    &:first-child th{white-space:nowrap;}
    &:nth-child(odd) {background:$alternate;}
    &:last-child td{border-bottom:none;}
    &:hover{ background-color: lighten($hiLight, 12%);}
  }

  th, td{padding:12px 8px ;vertical-align:middle;text-align:center;}
  th{border-bottom:1px solid $borderColor; background-color: $grayLight;}
  td{
    border-bottom:1px solid $borderColorLight;max-width:300px;
    &>a{
      text-decoration:underline;color:$fontColor;
      &:hover, &:focus{text-decoration:none;}
      &:focus{ box-shadow: $focusColor 0 0 0 2px;}
      &.fileType { 
        color: $fontInvert;
        &:hover, &:focus{ text-decoration: none;}
      }
    }
    &.title>a:only-child{
      display: block;padding:8px; margin: -8px 0;
      &:focus{ box-shadow: $focusColor 0 0 0 2px inset;}
    }


    img{vertical-align:middle;margin:0 3px;
      &.avatar{ width: 160px; height: 160px; object-fit: cover; }
    }
    &[data-title="姓名"]{font-size:1.2em;text-decoration:underline;}
    &[data-title*="名稱"],
    &[data-title*="地址"],
    &[data-title="業務類別"],
    &[data-title="核准飼養頭數"]{text-align: left;}
    
    span{display:block;margin:0 auto;text-align:center;white-space:nowrap;}
    &.title{text-align:left;white-space:normal;}
    .date{letter-spacing:0;color:$fontColorLight;font-family:Arial, Helvetica, sans-serif;}
    &.date{
      display:table-cell;text-align:center;letter-spacing:0;color:$fontColorLight;font-family:Arial, Helvetica, sans-serif;}
  }


  @media screen and (max-width:$wwMedium){
  
    table{line-height:1.6em;}
    tr{
      display:block;position:relative;border:2px solid $borderColor;padding:0;margin:0 0 15px;
      &:first-child{display:none;}
      &:last-child td{
        border-bottom:1px solid $borderColorLight;
        &:last-child{border:none}
      }
      &:nth-child(odd){background-color: transparent;}
      &:hover{background-color: transparent;}
    }
    th{display:none;}
    td{
      display:block;padding:.7em .5em .5em;margin:0;text-align:left;max-width: none;
      &:last-child{border:none;}
      &::before{content:attr(data-title) '：';display:inline-block; color:$fontColorLight;vertical-align: top;}
      &[data-title="序號"]{
        font-size:1.2em;text-align:center;
        float:right;margin:0 0 0 .5em;min-width:2.3em;height:2.3em;line-height:1em ; background:$grayDark;color:$white;
        border:none !important;
        &::before{display:none;}
      }
      span{display:inline;}
      &.title a{font-size:1.25em;}

      // ---
      &.document{
        a{display:inline-block;text-align:left;min-width:15em;margin:0 auto;}
        br+a{border-top:1px solid $borderColorLight;}
      }

      .attIcons{
        li{ margin:2px 0;}
      }
     
    }

    .dsIcon{display: inline-block;
      li a{padding: 0;}
    }
    
    &:not(.profileList) td:empty{display:none;}
    
  }
  
}


///////////////////////////////////////////////////////////////////////////
// 資料開放 ///////////////////////////////////////////////////////////////
// RSS、JSON 訂閱與下載
.dsIcon {
  list-style: none;white-space: nowrap;
  li{display: inline-block;margin:2px 1px;font-size:.8em;border: none;background: none !important;
    a{
      display: block;width: 3.8em;height: 3.8em;line-height: 4em;padding: 0;
      border-radius: 50%;text-align: center;text-decoration: none;outline: none;
      background-color: $btnBg1;color: $fontInvert;box-shadow:none;
      transition: .2s;
      &:hover{background-color: $btnBg2;}
      &:focus{ box-shadow:$btnBg2 0 0 0 2px; background-color: $btnBg2;}
    }
  }
}
// .openData 資料開放 //////////////////////////////////////////////////////
.list.openData{
  td{
    a {text-decoration: none;}

    a.cateLink {
      display: inline-block;white-space: nowrap;
      padding: 0 .8em;margin: 0 .2em;height: 2.2em;line-height: 2.3em;
      font-size: 1.05em;text-decoration: none;
      border-radius: 2em;box-shadow: $borderColor 0 0 0 1px;
      transition: .2s;
      &:hover{ box-shadow: $primaryColor 0 0 0 2px;text-decoration: none;}
      &:focus{ background-color: $primaryColor; box-shadow: $primaryColor 0 0 0 2px;color: $fontInvert;}
    }
  }
}



///////////////////////////////////////////////////////////////////////////
// 行動版自動載入下一頁的套件產生的 html //////////////////////////////////
.jscroll-added{
  .small { display:block; text-align:center; margin:1em auto; font-size:.92em;
    img { vertical-align:middle;}
  }
}
.nextPage { display:none;}









///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// 以下待確認無用後刪除













///////////////////////////////////////////////////////////////////////////
// .navPrev , .navNext ////////////////////////////////////////////////////
// ？不知用於何處 ？？？？？？？？？？？？？？？？？？？？？？？？？？？
// .navPrev, .navNext {
//   position: absolute;left: 2px;top: 0;
//   width: 44px;height: 44px;
//   a {
//     display: block;width: 44px;height: 44px;
//     border-radius: 50%;background: #718c91;
//     &::before {
//       content: '';display: inline-block;width: 14px;height: 14px;
//       border: 5px solid $white;
//       transform: rotate(45deg);
//     }
//     &:hover {background-color: #ac2;}
//   }
// }
// .navNext{ 
//   left:auto;right:2px;
//   a::before{border-left:none;border-bottom:none;margin:12px 0 0 10px;}
// }
// .navPrev a::before{border-right:none;border-top:none;margin:12px 0 0 16px;}


///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////


// @media screen and (max-width:800px){


// 	.list.poll tr{padding:.4em .5em .3em;}
// 	.list.poll td{margin:0;}
// 	.list.poll td.title{display:block;}

// 	.list.schedule{margin:1em 0;}
// 	.list.schedule table {border-collapse:collapse;}
// 	.schedule table caption{font-size:1em;margin-top:.5em;}
// 	.navPrev{left:3%;}
// 	.navNext{right:3%;}
// 	.list.schedule th{display:none;}
// 	.list.schedule td,
// 	.list.schedule table tr:last-child td{display:block;border:none;}
// 	.list.schedule td.date{border-bottom:1px solid #999 !important;background:#f2f6f7;}
// 	.list.schedule td.date em{display:inline-block;margin:.1em .6em 0 0;}
// 	.list.schedule td:before{display:none;}
// 	.list.schedule td ul li a{padding:.5em .5em .4em;}

// 	.nextPage { display:inline;font-size: 0;}

// }
