h2.blockHeader{
  margin: 0 auto .5em; width: $mobileWidth;
  line-height: 1.2; text-align: center; letter-spacing: 3px;
  font-size: 2rem; font-family: 'Times New Roman', Times, serif;

  &+.subheader{margin-top: .6em;}
}
.subheader{
  width: $mobileWidth; margin: .6em auto 1.8em;
  font-size: 1em; line-height: 1.6;text-align: center;
}
@media screen and (min-width: $wwNormal){
  h2.blockHeader , .subheader{
    width: $normalWidth; max-width: 100%
  }
}

@import "_newsList";      // 最新消息（頁籤組）
@import "_disks";         // 圓形圖示
@import "_links";         // 相關連結
@import "_bulletin";      // 市府訊息
@import "_banners";      // 文化藝術，輪播
@import "_banners2";      // 小圖廣告，輪播，手機螢幕垂直展開，2023Jan 新增
@import "_freeZone";      // html 編輯器產生的內容
@import "_albumsFlow";      // 相簿輪播，2023Jan 新增
@import "_banner2x1";      // 2:1 圖 slide，2023Jan 新增


// @import "_weatherSum";      // 天氣與空氣品質，2024JUN 新增
// 20240611 改為以 iframe 嵌入
iframe.weatherAndAQI{
  display: block; width: 100%; height: 172px;
  margin: 0 auto; padding: 0;border: none;
  @media screen and (min-width: $wwMedium){
    height: 234px;
  }
  @media screen and (min-width: $wwNormal){
    height: 190px;
  }
}

