.np{
  @extend %innerWidth;margin-bottom: 15px;
  &>ul {
    list-style: none;margin: 0 auto; padding:10px 0;
    font-size: 1.3em; line-height: 1.3; overflow: hidden;
    &>li{
      margin: 10px auto;
      &>a {
        display: block;margin: 0; padding: 17px 50px 14px 10px; 
        border: 1px solid $borderColorLight; border-bottom: 4px solid desaturate(lighten($primaryColor, 46%) , 50%);
        outline: none; text-decoration: none;
        color: $fontColor;
        transition: .2s;
        &:hover, &:focus {
          background-color: $primaryColor;border-color: $primaryColor;color: #fff;
          background-position: right -184px;
          box-shadow: rgba(0, 0, 0, .45) 0 9px 8px -6px;
        }
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul{
      display: flex; flex-flow: row wrap;
      &>li{
        flex: 0 0 calc(50% - 5px); margin: 10px 10px 0 0;
        &:nth-child(even) {margin-right: 0;}
        &>a{height: 100%;}
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    margin-bottom: 60px;
  }

}