// 分頁
.page{
  display: none;
  @extend %innerWidth;
  
  @media screen and (min-width: $wwNormal){
    display: block; padding: 10px 0;
    margin:10px auto;overflow:hidden;text-align:center;
    font-size: 16px;
    // outline: 1px solid red;

    p{display:block;margin:0 0 5px;padding: 0;line-height:1.1;}
    em,
    abbr{margin:0 .3em;color:#000;font-weight: bold;display: inline-block;}
    input, select{ font-size: 1rem;}
    option{font-weight:bold;}
    select{
      font-weight:bold;vertical-align:middle; outline: none;
      margin:0 3px 3px;border:1px solid #bbb; width:auto; height:2em; line-height:2;
      &:hover, &:focus{ border-color: $primaryColor; box-shadow: $primaryColor 0 0 0 1px;}
      & + input[type="submit"],
      & + input[type="button"]{
        height:2em; line-height:2;padding: 0 7px;
        border-radius: 4px; border: none; cursor: pointer;
        background:#7c8785;color: #fff;outline: none;transition: .15s;
        &:hover, &:focus{box-shadow: #7c8785 0 0 0 2px;}
        &:focus{ background-color: #384241;}
    }
    }
    ul{display:inline-block;list-style:none;padding:5px;vertical-align:middle; margin:0;
      line-height:1;text-align:center;}
    li{
      margin:3px 1px 3px 0;padding:0;float:left;
      a{
        display:block;min-width: 3.1rem;height: 3rem;line-height: 3.1;padding: 0;
        box-shadow: #ccc 0 0 0 1px; color: $fontColor; text-decoration: none;
        transition:.15s;
        &:hover,
        &:focus{background:#1f7a8c; color: $fontInvert; text-decoration:none;outline:none;}
      }
      &.here{
        position:relative;z-index:29;
        a{
          cursor:default; 
          color:$fontInvert;background:#1f7a8c;box-shadow:#1f7a8c 0 0 0 3px ;
          &:focus, &:hover{box-shadow:#fff 0 0 0 1px ,#1f7a8c 0 0 0 3px;}
        }
      }
  

      // -----
      &.first, &.prev,&.prevTen{margin-right: 5px;}
      &.next, &.last, &.nextTen{ margin-left: 5px;}
      &.first, &.prev, &.prevTen, &.next, &.last, &.nextTen{
        // text-indent: -20em; overflow: hidden;
        font-size: 0;
        a{ 
          position: relative; border-radius: 4px;
          background-color: #7c8785;box-shadow: #7c8785 0 0 0 1px;
          &::before, &::after{content: ''; position: absolute; top: 50%;}
          &::after{
            width:10px; height:10px; margin-top: -6px;
            border: 2px solid $fontInvert; border-top: none; border-right: none;
          }

          &:hover, &:focus{box-shadow: #7c8785 0 0 0 2px;}
          &:focus{ background-color: #384241;}
        }
      }
      &.first , &.last{
        a::before{
          width: 2px; height: 18px; transform: translateY(-50%);background:$fontInvert;
        }
      }
      &.first, &.prev{
        a::after{ transform: rotate(45deg);left: 21px;} 
      }
      &.first{
        a::before{ left: 17px;}
      }
      &.next, &.last{
        a::after{ transform: rotate(225deg); left: auto; right: 21px;}
      }
      &.last {
        a::before{right: 16px;}
      }

      &.prevTen, &.nextTen{
        a::before{
          width:10px; height:10px; margin-top: -6px; position: absolute;left: 18px; 
          border: 2px solid $fontInvert; border-top: none; border-right: none;
        }
        a::after{ left: 25px;}
      }
      &.prevTen {
        a::after, a::before{
          transform: rotate(45deg);
        }
      }
      &.nextTen {
        a::after, a::before{transform: rotate(225deg); left: 15px;}
        a::before{ left: 22px;}
      }

    }
    abbr{text-decoration: none;}
  }
}



.notice{margin:.5em 0 0;}

