.subscribeAndNote{
  .note, .formA{ margin: 0 auto; padding: 30px 4vw;}
  .formA{
    width: auto; border-radius: 0; background: #eef5f3; box-shadow: none;
    .hint{ float: right;}
    .formLayout{
      clear: both; width: 100%; margin: 0 auto;
      td{
        &>input:only-child{ width: calc(100% - 6px);}
      }
    }
  }
  @media screen and (min-width: $wwNormal){
    display: flex; 
    .note, .formA{padding: 30px 40px;}
    .note{ flex: 0 0 40%;}
    .formA{ flex: 0 0 60%;}
    .captchaSet{
      flex-wrap: wrap;
      input[type="text"]{ max-width: 100%;}
    }
  }

}


// .extraBtn a:hover{background:#639100;color:#fff;}
// .extraBtn a:focus{background:#639100;color:#fff;}
// .note .extraBtn a{background-color:#f80;color:#fff;}
// .note .extraBtn a:hover{background-color:#e60;}
// .note .extraBtn a:focus{background-color:#e60;}
// .note a{word-break:break-all;}

// 訂閱注意事項
.note{margin:0;padding:30px;border-width:1px;line-height:1.8;background:#eaeecb;
  h3{font-size:1.2em;margin:0 0 1em;}
  li{margin-bottom:1.2em;}
  &>a, p>a, li>a{
    display: inline-block;
    text-decoration:underline; outline: none;
    &:hover, &:focus{ text-decoration: none;}
    &:focus{ box-shadow: $linkColor 0 0 0 1px;}
  }
  .button{ margin-left: 5px;}

}