// variables
// ---------- 長度常數 ---------- //
$sideBarWidth: 280px;  // 窄版側欄選單
$mobileWidth: 92vw; // 窄螢幕寬度 moduals width in mobile
$normalWidth: 82vw; // 寬螢幕寬度
// ---------- 長度常數 ---------- //


// ---------- RWD 斷點 ---------- //
$wwSlim: 480px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwMaximum: 1200px;
// ---------- RWD 斷點 ----------- //


// ---------- 【首頁】主要內容寬度設定 ----------- //
%mainWidth {
  width: $mobileWidth; margin: 0 auto;
  @media screen and (min-width: $wwNormal){
    width: $normalWidth;
  }
  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*(calc($normalWidth / 100vw));
  }
}
// ---------- 【首頁】主要內容寬度設定 ----------- //

// ---------- 【內頁】主要內容寬度設定 ----------- //
%innerWidth {
  width: 94vw; margin: 0 auto;
  @media screen and (min-width: $wwNormal){
    width:96%;
  }
  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*.96
  }
}
// ---------- 【內頁】主要內容寬度設定 ----------- //


// ---------- 顏色變數 ----------- //
$primaryColor:#0e677c;
$secondaryColor: #222;
$assistant: #f3f3f3;
$hiLight:#a7e1e8;
$hiLight2:#d6c41b;
$notice: #c00;
$warning: #c00;

$fontColor: #222;
$fontColorDark: #000;
$fontColorLight: #666;
$fontInvert: #fff;
$linkColor: #0c688d;
$mainBg: #fff;

$borderColor: #a3a8a9;
$borderColorLight: #d2d2d2;
$borderColorDark:#434242;

$gray: #d0d3d4;
$grayLight: #edf1f3;
$grayDark: #404546;

$btnBg1: #5c8c9c;
$btnBg2: #0d485a;

$footerBg: #217385;
$sidebarBg: $primaryColor;

$white:#fff;
$black:#000;

// ---------- 顏色變數 ----------- //