// 福利及照護 ////////////////////////////////////////////
.welfare{
  margin:0;
  ul, ol{list-style:none;margin:0;padding:0;}
  a{ text-decoration:none;color:#000; }
  nav{
    position:relative;
    margin:0;padding:0 0 33vw;
    background:#93d2f0 url(../images/welf_bgRainbow.png) no-repeat 185% 90%;
    background-size:68vw;
    &:before{
      content: '';position: absolute;right: 0;bottom: 0;left: 0;
      background:url(../images/welf_bg.png) no-repeat 0 bottom;
      background-size:90vw auto;height:32vw;
      
    }
    .welfCate{
      padding: 25px 0 10px .65vw; margin: auto;
    }
  }

  @media screen and (min-width: $wwMedium){
    nav{
      padding-bottom: 22vw;
      background-size: 60vw auto; background-position: right 0 bottom -20px;
      &::before{background-size: 65vw;}
    }
  }
  @media screen and (min-width: $wwNormal){
    nav{
      padding-bottom: 220px;
      background-size: 460px auto; background-position: right bottom;
      &::before{
        height: 194px; background-size: auto 100%;
      }
    }
  }

}

// 分類（雲朵選單）////////////////////////////////////////////
.welfCate{
  display: flex; flex-flow: row wrap;
  background:url(../images/welf_bgSun.png) no-repeat -10px -20px;
  background-size:93px;
  &>li{
    flex: 0 0 31.6vw;
    width:31.6vw;margin:.65vw;text-indent:0;
    line-height: 1.3;  
    &>a {
      display: block;position: relative;padding: 60px 8px 6px;border-radius:8px;
      text-align: center; height: 100%;
      background:#fff; transition: .2s;
      &:hover{
        box-shadow: #4885a1 0 0 0 1px;
      }
      &:focus{
        box-shadow: #4885a1 0 0 0 3px;
      }
      &:before {
        content: '';position: absolute;top: 6px; left: 50%;
        width: 80px;height: 50px; margin-left: -40px;
        background: url(../images/welfare-icons.png) no-repeat center 0;background-size: 50px auto;
      }
    }

    &.kid>a:before{background-position:center 0;}
    &.elderly>a:before{background-position:center -50px;}
    &.women>a:before{background-position:center -100px;}
    &.handicapped>a:before{background-position:center -150px;}
    &.immigrant>a:before{background-position:center -200px;}
    &.oneParent>a:before{background-position:center -250px;}
    &.socialWork>a:before{background-position:center -300px;}
    &.subsidy>a:before{background-position:center -350px;}
    &.volunteer>a:before{background-position:center -400px;}
    &.lottery>a:before{background-position:center -450px;}
    &.assistance>a:before{background-position:center -500px;}
    &.group>a:before{background-position:center -550px;}
    
  }

  @media screen and (min-width: $wwMedium){
    display: block;
    background-position: 20px 10px;
    &>li{
      flex: none;display:inline-block;
      margin:0 8px 15px; padding: 0; width: auto;
      background-size:100%;background-repeat:no-repeat;background-position:center bottom;
      transition:.5s;

      &:first-child{margin-left:130px;}
      &.kid{width:135px;background-image:url(../images/welCloud01.png);top: 20px;}
      &.elderly{width:125px;background-image:url(../images/welCloud02.png);text-indent:30px;}
      &.women{width:106px;background-image:url(../images/welCloud03.png);top:20px;}
      &.handicapped{width:117px;background-image:url(../images/welCloud04.png);top:40px;}
      &.immigrant{width:105px;background-image:url(../images/welCloud05.png);top:10px;}
      &.oneParent{width:132px;background-image:url(../images/welCloud06.png);top:22px;}
      &.socialWork{width:100px;background-image:url(../images/welCloud07.png);top:10px;}
      &.subsidy{width:133px;background-image:url(../images/welCloud08.png);}
      &.volunteer{width:115px;background-image:url(../images/welCloud09.png);top:25px;}
      &.lottery{width:105px;background-image:url(../images/welCloud10.png);top:15px;}
      &.assistance{width:112px;background-image:url(../images/welCloud11.png);top:36px;}
      &.group{width:113px;background-image:url(../images/welCloud12.png);top:2px;}
      &:hover{transform:translate(10px, 0); }

      &>a{
        background-color: transparent; padding: 53px 0 6px;
        &::before{width: 50px; top: 6px; left: 0;margin-left: 0;}
        &:hover{ box-shadow: none;}
      }
      &.kid>a:before{left:48px;}
      &.elderly>a:before{left:20px;bottom:8px; top: auto;}
      &.women>a:before{left:28px;}
      &.handicapped>a:before{left:30px}
      &.immigrant>a:before{left:26px}
      &.oneParent>a:before{left:44px}
      &.socialWork>a:before{left:26px}
      &.subsidy>a:before{left:50px}
      &.volunteer>a:before{left:35px}
      &.lottery>a:before{left:23px}
      &.assistance>a:before{left:35px}
      &.group>a:before{left:25px}
    }
  }

  @media screen and (min-width: $wwNormal){
    margin: 0 auto; max-width: 1000px;
    &>li{
      position: relative;
      &.kid{top: 20px;}
      &.elderly{text-indent:30px;}
      &.women{top:20px;}
      &.handicapped{top:40px;}
      &.immigrant{top:10px;}
      &.oneParent{top:22px;}
      &.socialWork{top:25px; margin-left: 50px;}
      &.subsidy{ top: 10px;}
      &.volunteer{top:25px;}
      &.lottery{top:15px;}
      &.assistance{top:40px;}
      &.group{top:25px;}
    }
  }
}

// 彩虹下方連結
.welfLink{
  position:absolute;bottom:6px;right:34px;
  li{
    text-align:right;margin:0 0 8px;
    a{
      display:inline-block;height:3.5em;line-height:3.5;background:#fff url(../images/welf_link.png) no-repeat 10px -91px;background-size:36px;border-radius:2em;padding:0 22px 0 60px;transition:.3s;
      &:hover{box-shadow:#b8e8ff 0 0 0 3px;}
    }
    &:first-child a{background-position:10px 9px;}
  }

}

// 次分類選單
.welfContent{
  // font-size:1.067em;
  &>div{overflow:hidden;border-bottom:1px solid #c0d3dd;padding:18px 20px 14px 10px;min-height:76px;}
  &>div:nth-child(even){background:#e5f6ff;}
  h3{
    position:relative;margin:10px 0;padding:0;
    float:left;width:31%;
    line-height:40px;font-size:1.4em; font-weight: normal;
    &:before{content:"";float:right;width:72px;height:72px;background:#ffc730;border-radius:50%;}

    &:after{
      content:"";position:absolute;right:11px;top:11px;width:50px;height:50px;z-index: 99;
      background:url(../images/welfare-icons2.png) no-repeat center top;background-size:50px auto;
    }
    &#wel_elderly:after{background-position:center -50px;}
    &#wel_women::after{background-position:center -100px;}
    &#wel_handicapped:after{background-position:center -150px;}
    &#wel_immigrant:after{background-position:center -200px;}
    &#wel_oneParent:after{background-position:center -250px;}
    &#wel_socialWork:after{background-position:center -300px;}
    &#wel_subsidy:after{background-position:center -350px;}
    &#wel_volunteer:after{background-position:center -400px;}
    &#wel_lottery:after{background-position:center -450px;}
    &#wel_assistance:after{background-position:center -500px;}
    &#wel_group:after{background-position:center -550px;}
    
    &>a{
      display:inline-block;padding:10px;border-radius:6px;
      &:hover, &:focus{
        background-color:#029AC5;color:#fff;outline:none;
      }
      &:after{
        content:'click或enter回分類';
        position:absolute;left:5px;bottom:-1.8em;
        font-size:.5em;color:transparent;transition:.15s;
      }
      &:hover:after,
      &:focus:after{
        color:#029AC5;
      }
    }
  }
  
  ul{float:right;width:66%;padding-top:1.5em;}
  li{
    display:inline-block;width:49%;vertical-align:top;margin-bottom:.7em;
    a{
      display:block;line-height:1.5;min-height:2.2em;padding-right:1em;
      &:hover, &:focus{
        text-decoration:underline;
      }
    }
  }

}