// 福利及照護 ////////////////////////////////////////////
.welfare{
  --sky: #93d2f0;
  --fontColor: #000;
  --welBg1:#42697a ;
  --welBg2:#2ba7bb ;
  --welAssistant: #ffc730;
  --white: #fff;
  --border: #c0d3dd;
  --alternateRowBG: #dff1f5;

  margin:0;
  ul, ol{list-style:none;margin:0;padding:0;}
  a{ text-decoration:none;color:var(--fontColor); }

  .welfCate{
    position:relative;margin:0;padding:0 0 33vw;
    background:var(--sky) url(../images/welf_bgRainbow.png) no-repeat 185% 90%;
    background-size:68vw;
    &:before{
      content: '';position: absolute;right: 0;bottom: 0;left: 0;
      background:url(../images/welf_bg.png) no-repeat 0 bottom;
      background-size:90vw auto;height:32vw;
    }
    &>ul{padding: 25px 0 10px .65vw; margin: auto;}
  }

  @media screen and (min-width: $wwMedium){
    .welfCate{
      padding-bottom: 22vw;
      background-size: 60vw auto; background-position: right 0 bottom -20px;
      &::before{background-size: 65vw;}
    }
  }
  @media screen and (min-width: $wwNormal){
    .welfCate{
      padding-bottom: 220px;
      background-size: 460px auto; background-position: right bottom;
      &::before{
        height: 194px; background-size: auto 100%;
      }
    }
  }

}

// 分類（雲朵選單）////////////////////////////////////////////
.welfCate{
  &>ul{
    display: flex; flex-flow: row wrap;
    background:url(../images/welf_bgSun.png) no-repeat -10px -20px;
    background-size:93px;
    &>li{
      flex: 0 0 31.6vw;
      width:31.6vw;margin:.65vw;text-indent:0;
      line-height: 1.3;  
      &>a {
        display: block;position: relative;padding: 60px 8px 6px;border-radius:8px;
        text-align: center; height: 100%;
        background:var(--white); transition: .2s;
        &:hover{box-shadow: var(--welBg1) 0 0 0 1px;}
        &:focus{box-shadow: var(--welBg1) 0 0 0 3px;}
        &:before {
          content: '';position: absolute;top: 6px; left: 50%;
          width: 80px;height: 50px; margin-left: -40px;
          background: url(../images/welfare-icons.png) no-repeat center 0;background-size: 50px auto;
        }
      }
  
      &.kid>a:before{background-position:center 0;}
      &.elderly>a:before{background-position:center -50px;}
      &.women>a:before{background-position:center -100px;}
      &.handicapped>a:before{background-position:center -150px;}
      &.immigrant>a:before{background-position:center -200px;}
      &.oneParent>a:before{background-position:center -250px;}
      &.socialWork>a:before{background-position:center -300px;}
      &.subsidy>a:before{background-position:center -350px;}
      &.volunteer>a:before{background-position:center -400px;}
      &.lottery>a:before{background-position:center -450px;}
      &.assistance>a:before{background-position:center -500px;}
      &.group>a:before{background-position:center -550px;}
      
    }
  
    @media screen and (min-width: $wwMedium){
      display: block;
      background-position: 20px 10px;
      &>li{
        flex: none;display:inline-block;
        margin:0 8px 15px; padding: 0; width: auto;
        background-size:100%;background-repeat:no-repeat;background-position:center bottom;
        transition:.5s;
  
        &:first-child{margin-left:130px;}
        &.kid{width:135px;background-image:url(../images/welCloud01.png);top: 20px;}
        &.elderly{width:125px;background-image:url(../images/welCloud02.png);text-indent:30px;}
        &.women{width:106px;background-image:url(../images/welCloud03.png);top:20px;}
        &.handicapped{width:117px;background-image:url(../images/welCloud04.png);top:40px;}
        &.immigrant{width:105px;background-image:url(../images/welCloud05.png);top:10px;}
        &.oneParent{width:132px;background-image:url(../images/welCloud06.png);top:22px;}
        &.socialWork{width:100px;background-image:url(../images/welCloud07.png);top:10px;}
        &.subsidy{width:133px;background-image:url(../images/welCloud08.png);}
        &.volunteer{width:115px;background-image:url(../images/welCloud09.png);top:25px;}
        &.lottery{width:105px;background-image:url(../images/welCloud10.png);top:15px;}
        &.assistance{width:112px;background-image:url(../images/welCloud11.png);top:36px;}
        &.group{width:113px;background-image:url(../images/welCloud12.png);top:2px;}
        &:hover{transform:translate(10px, 0); }
  
        &>a{
          background-color: transparent; padding: 53px 0 6px;
          &::before{width: 50px; top: 6px; left: 0;margin-left: 0;}
          &:hover{ box-shadow: none;}
        }
        &.kid>a:before{left:48px;}
        &.elderly>a:before{left:20px;bottom:8px;top: auto;}
        &.women>a:before{left:28px;}
        &.handicapped>a:before{left:30px}
        &.immigrant>a:before{left:26px}
        &.oneParent>a:before{left:44px}
        &.socialWork>a:before{left:26px}
        &.subsidy>a:before{left:50px}
        &.volunteer>a:before{left:35px}
        &.lottery>a:before{left:23px}
        &.assistance>a:before{left:35px}
        &.group>a:before{left:25px}
      }
    }
  
    @media screen and (min-width: $wwNormal){
      margin: 0 auto; max-width: 1000px;
      &>li{
        position: relative;
        &.kid{top: 20px;}
        &.elderly{text-indent:30px;}
        &.women{top:20px;}
        &.handicapped{top:40px;}
        &.immigrant{top:10px;}
        &.oneParent{top:22px;}
        &.socialWork{top:25px; margin-left: 50px;}
        &.subsidy{ top: 10px;}
        &.volunteer{top:25px;}
        &.lottery{top:15px;}
        &.assistance{top:40px;}
        &.group{top:25px;}
      }
    }
  }
}

// 彩虹下方連結
// 目前沒有連結項目
.welfLink{
  position:absolute;bottom:6px;right:34px;
  li{
    text-align:right;margin:0 0 8px;
    a{
      display:inline-block;height:3.5em;line-height:3.5;background:#fff url(../images/welf_link.png) no-repeat 10px -91px;background-size:36px;border-radius:2em;padding:0 22px 0 60px;transition:.3s;
      &:hover{box-shadow:#b8e8ff 0 0 0 3px;}
    }
    &:first-child a{background-position:10px 9px;}
  }

}

// 次分類選單 ////////////////////////////////////////////
.welfContent{
  background:var(--welBg1);margin:0;padding:25px 0;
  .welGroup {
    width: 96%; margin: 0 auto 2vw; padding: 0;
    border-radius: 20px;
    background: var(--white); overflow: hidden;
    &:last-child{margin-bottom: 0;}

    ul {
      padding: 0 10px 1.6em;
      font-size: 1em; line-height: 1.5;
      background: var(--welBg2);
    }
    li {
      margin: 0; padding: 0;
      a {
        display: block;position: relative;
        margin: 0;padding: 1.2em 2em .6em .2em;
        border-bottom: 1px solid rgba(255,255,255,.25);
        color: var(--white);
        &::before {
          content: '';
          position: absolute;right: 12px;top: 50%;
          width: 1em;height: 1em;margin-top: -.5em;
          border: 2px solid var(--white);border-left: none;border-bottom: none;
          transform: rotate(45deg); transition: .2s; opacity: .5;
        }
        &:hover, &:focus{
          border-bottom-color: var(--white);
          &::before{opacity: 1;right: 8px;}
        }
      }
    }
  }

  h3 {
    position:relative;padding:1em 0 .8em;margin: 0;
    font-size: 1.5em;font-weight: normal;text-align: center; letter-spacing: 2px;
    line-height: 1.3; 
    color: var(--fontColor);

    &>a{
      display:inline;
      padding:.25em .5em .2em; margin: 0;border-radius:6px;
      &:hover, &:focus{
        background-color:var(--welBg2);color:var(--white);outline:none;
      }
      &::after{
        // content:'click 或 enter 回分類';
        content: attr(aria-label);
        position:absolute;left:50%;bottom:1px;transform: translateX(-50%);
        line-height: 1.1; letter-spacing: normal;
        font-size:.5em;color:transparent;transition:.15s;
      }
      &:hover::after,
      &:focus::after{ color:var(--welBg2); }

    }

    &::before {
      content: "";position: absolute;right: auto;left: 16px;top: 16px;
      width: 50px;height: 50px;border-radius: 50%;
      background:var(--welAssistant) url(../images/welfare-icons2.png) no-repeat center top;background-size:50px auto;
      box-shadow: var(--welAssistant) 0 0 0 7px;
    }
    &#wel_elderly::before{background-position:center -50px;}
    &#wel_women::before{background-position:center -100px;}
    &#wel_handicapped::before{background-position:center -150px;}
    &#wel_immigrant::before{background-position:center -200px;}
    &#wel_oneParent::before{background-position:center -250px;}
    &#wel_socialWork::before{background-position:center -300px;}
    &#wel_subsidy::before{background-position:center -350px;}
    &#wel_volunteer::before{background-position:center -402px;}
    &#wel_lottery::before{background-position:center -450px;}
    &#wel_assistance::before{background-position:center -502px;}
    &#wel_group::before{background-position:center -550px;}
    
  }
  

  @media screen and (min-width: $wwMedium){
    background: none;
    .welGroup{
      overflow: hidden;width: auto;
      padding: 22px 20px 9px 10px;margin: 0; min-height: 72px;
      border-radius: 0;border-bottom: 1px solid var(--border);
      &:nth-child(even){background:var(--alternateRowBG);}

      ul{
        float:right;width:66%;padding:0;
        background-color: transparent;
        display: flex; flex-flow: row wrap; justify-content: space-between;
      }
      li{
        flex: 0 0 calc(50% - 5px);width:calc(50% - 5px);vertical-align:top;margin-bottom:10px;
        &:nth-child(even){float: right;}
        a{
          min-height:0; padding: .9em .3em .8em;
          color: var(--fontColor); border-bottom: none; border-radius: 4px;
          &::before{display: none;}
          &:hover{text-decoration:none; box-shadow: var(--welBg2) 0 0 0 1px;}
          &:focus{text-decoration:none; box-shadow: var(--welBg2) 0 0 0 3px;}
        }
      }
    }
    h3{
      float:left;width:31%; min-height: 0; margin:0;padding:8px 72px 5px 0;
      line-height :1.3; font-size:1.4em; text-align: left;
      background-color: transparent;
      &::before {
       right: 0; left: auto; top: 0;
       box-shadow: var(--welAssistant) 0 0 0 12px;
      }

      &>a{
        display: inline-block;padding:4px 10px;
        &::after{
          left:5px; bottom: -1.5em; transform: translateX(0);
        }
      }
    }
  }
}
